@media only screen and (max-width: 600px) {
  #grid-div {
    display: grid;
  }
  #navbar {
    border: 0.5px solid black;
    overflow-y: scroll;
    height: 30vh;
    position: static;
    width: 100%;
    text-align: center;
  }
  #main-doc {
    position: static;
    margin-top: 1rem;
    margin-left: 0;
    max-width: 100%;
    padding: 0 3rem 0 3rem;
  }
}
